<pre>value: {{myControl().value().value | json}}</pre>
<pre>rawValue: {{myControl().value().rawValue | json}}</pre>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Assignee</mat-label>
    <input
      type="text"
      matInput
      (input)="updateRawValue($any($event.target).value)"
      [formField]="myControl.rawValue"
      [matAutocomplete]="auto"
    >
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectOption($event.option.value)">
      @for (option of filteredOptions(); track option) {
        <mat-option [value]="option">{{option.name}}</mat-option>
      }
    </mat-autocomplete>
      @for (error of myControl.rawValue().errors(); track error) {
    <mat-error>{{error.message}}</mat-error>
    }
  </mat-form-field>
</form>
